
$main-color: #1FAEBC;
$second-color: #2274A5;
$gray: #E8E9E9;
$black: #465C5D;
.contenedor{
  position: relative;
  margin:1rem auto;
  width: 95%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "header header"
                        "sidebar schedule"
                        "cancel_use cancel_use";

  header{
    grid-area: header;
    text-align: center;
    color: $black;
    font-weight: normal;
  }
  .sidebar__container{
    grid-area: sidebar;
    .btn-select{
      color: $black;
      font-weight: 600;
      width: 80%;
      background-color: $gray;
      height: 2rem;
      border: none;
      outline: none;
    }
    .btn-unselect{
      width: 80%;
      background-color: #fff;
      height: 2rem;
      border: none;
      outline: none;
      &:hover {
        background-color: $gray;
      }
    }
    p{
      color: grey;
    }
  }
  .schedule__container{
    grid-area: schedule;
    .main-title{
      display: flex;
      justify-content: space-between;
    }
    
    .main-div{
      display: flex;
      align-items: center;
      margin: 2rem 0;
      .main-card{
        position: relative;
        display: flex;
        align-items: center;
        
        .card-border{
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0 30px;
          box-shadow: 6px 5px 1px 3px $gray;
          border: 2px $main-color solid;
          border-radius: 10px;
          
        }
        .card{
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0 30px;
          box-shadow: 6px 5px 1px 3px $gray;
          img{
            width: 25%;
            height: 25%;
          }
        }
        .view-builder{
          color: $main-color;
        }
        .img-color{
          width: 25%;
          height: 25%;
          
        }
        .img-gris{
          width: 25%;
          height: 5%;
          filter: grayscale(1);
        } 
        .hidden-date{
          display: none;
          float: right;
        }
        
      }
      
    }
    .main-title h2{
      color: $black;
    }
    .selectAllIdeation, .selectAllValidation{
      color: $main-color;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
  .cancel_use__container{
    grid-area: cancel_use;
    display: flex;
    justify-content: flex-end;
    .use{
      background-color: $second-color;
      color: #fff;
      height: 1.5rem;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .cancel{
      color: $black;
      background-color: #fff;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
.show-cellphone{
  display: none;
}
.App {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .contenedor{
    grid-template-areas: "header header"
                        "sidebar sidebar"
                        "cancel_use cancel_use"
                        "schedule schedule";
    header{
      padding: 0 60px;
      h1{
        font-size: 1.2rem;
      }
    }
    .sidebar__container{
      display: flex;
      justify-content: space-around;
      .btn-select, .btn-unselect{
        width: 30%;
      }
      .btn-unselect{
        border: 1px $black solid;
        border-radius: 5px;
      }
      .socialSelect{
        width: 40%;
      }
  }
  .cancel_use__container{
    .cancelX{
      position: absolute;
      background-color: #fff;
      color: $black;
      outline: none;
      border: none;
      font-size: 1.2rem;
      top: 10px;

    }
  }
  .schedule__container{
    .main-card{
      display: flex;
      flex-direction: column;
    }
    .card-cellphone{
      border: 2px $main-color solid;
      border-radius: 10px;
      .card-border{
        box-shadow: none !important;
        border: 2px transparent solid !important;
        border-radius: none;
        margin: 0;
      }
    }
    .show-date{
      display: flex;
      align-items: center;
      p{
        font-size: 13px;
        color: gray;
      }
      input{
        width: 5rem;
        height: 1.2rem;
      }
    }
    .card{
      box-shadow: none;
    }
    
  }
  .visible-web{
    opacity: 0;
  }
  .show-web{
    display: none;
  }
  .show-cellphone{
    display: block;
  }
  }

}